#sidebar.col-xs-6.col-sm-6.col-md-3.sidebar-offcanvas{role: "navigation"}
  .well.sidebar-nav
    %ul.nav
      %li Sidebar
      %li.active
        %a{href: "#"} Link
      %li
        %a{href: "#"} Link
      %li
        %a{href: "#"} Link
      %li Sidebar
      %li
        %a{href: "#"} Link
      %li
        %a{href: "#"} Link
      %li
        %a{href: "#"} Link
      %li Sidebar
      %li
        %a{href: "#"} Link
      %li
        %a{href: "#"} Link
  / /.well
