.row
  .media
    %a.pull-left{href: "#"}
      %img.media-object.dp.img-circle{src: "http://www.huffmancode.com/img/hardik.jpg"}/
    .media-body
      %p Rails is much better at scaling because you never know how much its dflkgjhs;fklhj s;lkfgjsf;lkghj sd;flkgsdflgk
    %div
      %p
        %i.fa.fa-user
        by
        %a{href: "#"} John
        |
        %i.fa.fa-calendar
        Sept 16th, 2012 |
        %i.fa.fa-chevron-circle-up
        vote up
%hr/
.row
  .media
    %a.pull-left{href: "#"}
      %img.media-object{src: "http://placehold.it/64x64"}/
    .media-body
      %p Rails is much better at scaling because you never know how much its dflkgjhs;fklhj s;lkfgjsf;lkghj sd;flkgsdflgk
    %div
      %p
        %i.fa.fa-user
        by
        %a{href: "#"} John
        |
        %i.fa.fa-calendar
        Sept 16th, 2012 |
        %i.fa.fa-chevron-circle-up
        vote up
